 /* .counterbutton{
    color: #875e22;
    border-radius: 2px;
    background-color: #eeb4b4;
    border-radius: 2em;
    width:auto;
    
  }
  
  #common{
    background-color: bisque;
     box-shadow: 2em;
     
  }
  body{
    background-color: #eeb4b4;
    
  } */